asgiref==3.5.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
distlib==0.3.6
docutils==0.18.1
filelock==3.8.0
idna==3.3
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
platformdirs==2.5.2
Pygments==2.12.0
pypiwin32==223
python-decouple==3.6
pywin32==304
requests==2.27.1
sqlparse==0.4.3
tzdata==2022.5
urllib3==1.26.9
virtualenv==20.16.5
virtualenvwrapper-win==1.2.7
